<!DOCTYPE html>
<html>
<head>
    <title>Goodman - Scheduler</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Upload your schedule</h1>
                <p>This tool allows you to upload your schedule, but for a more advanced schedule creation, contact any computer science to assist us. We assure you that this collaboration will eliminate the need for manual schedule creation.
                </p>
                <p>Telegram account of the <a href="https://t.me/i_xii">developer</a></p>
                <p>Our channel for fully free students services: <a href="https://t.me/ce_goodman">CE Goodman - Archive</a></p>
            </div>
            <div class="card-body">
                <form method="POST" action="/" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Choose a File:</label>
                        <input type="file" class="form-control-file" name="file" id="file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery for form styling -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
